.about-page {


    // =========================
    // INTRO
    // =========================

    .about-intro {
        padding: 50px 20px;
        background: url(/images/aboutUs_block1.svg) no-repeat scroll 50% 0% #ffffff;

        .container {
            display: flex;
            align-items: center;
            gap: 50px;
            padding: 40px 0px;
        }

        &__icon {
            width: 350px;
            opacity: 0.8;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
        }

        .block-title {
            font-weight: 400;
        }

        &__subtitle {
            font-size: 1.1em;
            letter-spacing: 1px;
            text-transform: uppercase;
            padding-bottom: 20px;
            color: var(--body-grey-text);

            &::after {
                content: "";
                display: block;
                height: 2px;
                width: 50px;
                background-color: var(--bright-red);
                margin-top: 10px;
            }
        }
        .page-description {
            font-size: 1.5em;
        }
    }


    // =========================
    // ABOUT US
    // =========================

    .about-us {
        background: url('/images/aboutUs_block2_v4.jpg') no-repeat scroll 100% 50% #ffffff;
        padding: 80px 0px;
        background-size: contain;

        &__content {
            max-width: 600px;
        }

        &__text {
            margin: 0 0 18px;
            letter-spacing: 0px;
        }
    }


    // =========================
    // APPROACH
    // =========================

    .about-approach {
        padding: 100px 20px;
        padding: 100px 20px;
        background: #D9E9FD2B;
        border-bottom: 1px solid #EBF4FF;
        border-top: 1px solid #EBF4FF;

        &__intro {
            margin-bottom: 60px;
        }

        &__text, &__item p  {
            margin: 0;
            line-height: 1.6;
            color:  var(--body-grey-text);
        }

        &__grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 50px 70px;
        }

        &__item {
            position: relative;
            display: flex;
            gap: 30px;
        }

        &__number {
            color: var(--icon-roundborder-color);
            font-size: 1.1em;
            padding: 10px 0px;
        }

        &__icon {
            background-color: var(--icon-roundborder-bg);
            border-radius: 50px;
            padding: 25px;
            color: var(--icon-roundborder-color);
            font-size: 2em;
        }

        &__item h3 {
            margin: 0 0 15px;
            font-size: 24px;
        }

    }
}
@media (max-width: 768px) {
    .about-page {

        .about-intro {
            padding: 70px 20px;

            &__title {
                font-size: 38px;
            }

            &__text {
                font-size: 16px;
            }
        }

        .about-us {
            grid-template-columns: 1fr;
            gap: 40px;

            padding: 60px 20px;

            &__title {
                font-size: 32px;
            }
        }

        .about-approach {
            padding: 70px 20px;

            &__title {
                font-size: 32px;
            }

            &__grid {
                grid-template-columns: 1fr;
                gap: 40px;
            }
        }
    }
}