.brief-page {
    padding-bottom: 40px;

    &__intro {
        padding: 60px 0 80px;
        background: url("/images/briefPage_block1.png") no-repeat scroll 90% 70%;
    }

    &__label {
        letter-spacing: 0.12em;
    }

    &__form-section {
        padding: 40px 0 120px;
    }

    .footer__main {
        background-color: var(--dark-blue-bottom);
    }
}