.brief {
    padding-top: 205px;
    background: url("/images/contacts_bg.png") no-repeat scroll 50% 0%;
    color: var(--white);
    position: relative;

    &__inner {
        padding: 80px 20px;      
        background: linear-gradient(
            180deg, 
            #0087c5 0%, 
            rgba(0, 135, 197, 0.95) 63.96%, 
            #024597 100%
        );       
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-repeat: no-repeat;
        top: 40px;
        background-size: contain;
    }

    &::before {
        background-image: url('/images/brief_bubbles-left.png');
        background-position: left top;
        width: 210px;
        height: 511px;
    }

    &::after {
        right: 40px;
        background-image: url('/images/brief_bubbles-right.png');
        background-position: right top;
        width: 185px;
        height: 540px;
    }

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &__title {
        font-family: var(--third-family);
        font-weight: 400;
        font-size: 32px;
        line-height: 138%;
        max-width: 800px;
    }

    &__arrow {
        margin: 25px 0 40px;
        font-size: 20px;
    }

    &__button {
        padding: 21px 50px;
    }

    &__caption {
        padding-top: 50px;
        font-family: var(--font-family);
        font-size: 20px;
        line-height: 110%;
        color: var(--basic-grey);
    }
    
}