//titles & subtitles
.section-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 32px;
    text-transform: uppercase;
    color: var(--basic-black);

    &::after {
        content: '';
        display: block;
        width: 10%;
        height: 2px;
        margin: 10px auto 0;
        background-color: var(--bright-red);
    }
}

.section-subtitle {
    font-family: var(--second-family);
    font-size: 28px;
    text-transform: lowercase;
    color: var(--dark-grey);
}

.section-number {
    flex-shrink: 0;
    color: var(--bright-red);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.15em;
    padding-top: 5px;
}

// pages titles & subtitles
.page-subtitle {
  margin: 0 0 25px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 12px;

    &::before {
        content: "";
        height: 2px;
        width: 30px;
        background: var(--bright-red);
    }
}

.page-title {
  font-size: clamp(48px, 7vw, 50px);
  line-height: 1.15em;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--second-family);
  letter-spacing: 2px;
}

.page-title__small {
    font-size: clamp(24px, 4vw, 36px);
    line-height: 1.2em;
    text-transform: uppercase;
}

.page-description {
  max-width: 600px;
  margin: 15px 0 0;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 1px;
}

.block-title {
    text-transform: uppercase;
    margin: 0 0 30px;
    font-size: 42px;
    line-height: 1.15;
}

.block-subtitle {
    display: inline-block;
    margin-bottom: 15px;
    color: var(--bright-red);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}


// items title & description
.items {
    &-title {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 1.5em;
        line-height: 1.6em;
        letter-spacing: 0.01em;
        text-align: center;
        text-transform: uppercase;
        color: var(--basic-black);
    }

    &-description {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 1.5em;
        text-align: center;
        color: var(--dark-grey);
    }
}

.text-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--dark-blue);
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 1.2em;

  &:hover {
    transform: scale(1.05,1.05);
  }

  svg {
    transition: transform 0.25s ease;
    color: var(--bright-red);
  }

  &:hover svg {
    transform: translateX(5px);
  }
}

// btn
.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 4px 5px 10px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    color: var(--white);
    font-family: var(--font3);
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    border-radius: 4px;
    transition: all 0.3s ease;

    &-red {
        background: var(--bright-red);

        &:hover {
            box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
            background: rgb(207, 16, 16);
        }
    }
    &-grey {
        background: var(--dark-grey);
    }
    &-white {
        background-color: var(--contact-page-bg);
        color: var(--dark-blue-bottom);

        &:hover {
            box-shadow: 2px 2px 5px rgba(0,0,0,0.25);
            background: #ecf0fb;
        }
    }

    svg {
        transition: transform 0.25s ease;
    }
   
}
// separation
.separate-line {
    display: block;
    position: relative;
    height: 1px;
    width: 70%;
    background-color: rgba(230, 33, 33, 0.13);
    margin: 20px 0px;
}

// headers
h3 {
  margin: 10px 0 25px;
  font-family: var(--font3);
  font-size: clamp(18px, 2.3vw, 36px);
  line-height: 1.1;
}


