.cta {
    background-color: #edf4fc;
    padding: 60px 0px;
    
    .container {
        display: grid;
        gap: 20px 30px;
        align-items: center;
    }

    &--without-subtitle {
        .container {
            grid-template-columns: 0.6fr 3fr;
        }

        .cta__button {
            grid-column: 2;
            justify-self: start;
        }
    }

    &--with-subtitle {
        .container {
            grid-template-columns: 0.6fr 3fr 2fr;
        }

        .cta__button {
            grid-column: 3;
            justify-self: end;
        }
    }

    &__content {
        color: #526d9d;
    }

    &__image {
        font-size: 7em;
        color: #526d9d99;
    }

    &__subtitle {
        color: #ff7884;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 10px;
        font-size: 13px;
    }

    &__title {
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__description {
        padding: 15px 0px 10px 0px;
        font-size: 1.4em;
    }

    &__button.btn {
        padding: 17px 60px;
        border-radius: 50px;

        &:hover svg {
            transform: translateX(4px);
        }
    }

}