.navigation {
  border-bottom: 1px solid var(--bright-blue);
  background: rgba(31, 92, 141, 0.63);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 400;
  padding: 15px 0px;
  font-size: 1.3em;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__phone {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      position: relative;
      text-decoration: none;
      transition: all 0.3s ease;

       &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -19px;
        width: 0;
        height: 2px;
        background-color: var(--bright-red);
        transition: width 0.3s ease;
      }

      &.active::after {
        width: 100%;
      }
      &:hover {
        color: var(--light-blue);
      }


    }

  } 



}