.contacts {
    padding: 60px 0px 50px 0px;

    .container {
        position: relative;
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 40px;
        margin: 0 auto;
    }

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__left {
        padding-right: 40px;
    }
    &__right {
        gap: 40px;
        padding-left: 40px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translate(-50%, -50%);
            width: 4px;
            height: 280px;
            background-color: #b2cae5;;
        }
    }

    // Webform block
    &__title {
        margin-bottom: 45px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 25px;

        &-field {
            position: relative;
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 16px;
            color: var(--input-grey);

            &__icon {
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        input, textarea { 
            border: 2px solid var(--basic-grey);
            border-radius: 2px;
            padding: 8px 5px 8px 30px;
            width: 100%;
            
            &#consent {
                border: none;
                width: auto;
                margin-right: 10px;
            }

        }

        label{
            font-size: 14px;
            color: var(--input-grey);
        }

        textarea { 
            min-height: 190px;
            padding: 8px 5px 8px 5px;
        }

    }

    &__submit {
        padding: 15px 20px;

        &:hover svg {
            transform: translateX(4px);
        }
    }

    &__privacy {
        font-size: 12px;
    }



    // Contacts block------------------------------------
    &__info {

        &-title {
            font-family: var(--font-family);
            font-weight: 400;
            line-height: 2em;

            p {   
                font-size: 16px;
                color: var(--input-grey);
            }

            h2 {                
                font-size: 20px;
                text-transform: uppercase;
                color: var(--grey-bg-header);
                font-weight: 400;
            }
        }
    }


    &__link {
        display: flex;
        align-items: center;
        gap: 12px;


        &-icon {
            color: var(--input-grey);
        }

        span {
            border-bottom: 1px solid #D2DBE2;
            padding-bottom: 5px;
            font-family: var(--third-family);
            font-size: 20px;
            color: var(--basic-black);
        }
    }

    &__socials {
        display: flex;
        gap: 15px;
    }
}