.innerheader {
    .logo {
        display: block;
        width: 220px;
    }
    .navigation {
        background-color: #fff;
        color: var(--dark-blue-bottom);

    }
    .navigation__menu a::after {
        bottom: -26px;
    }

}


