.footer {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 20px;

    &__main {
        padding: 60px 0;
        background: url("/images/footer-main-rocks.svg") repeat-x 50% 100% #024597;
        color: var(--light-grey-bg-input);
        
        .container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
        }
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__contact {
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            display: flex;
            align-items: center;
            gap: 20px;

            &::before {
                content: "";
                display: block;
                height: 1px;
                width: 15px;
                background-color: #4876ad;
            }
        }
    }

    &__bottom {
        padding: 20px 0;
        text-align: center;
        background-color: #001744;
        color: var(--white);
    }

}